*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    position: relative;
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.clock{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: black;
    backdrop-filter: blur(40px);
}
.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background-color: yellow;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}
.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}
.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#i1::after{
    content: 'HOURS';
    
}
#i2::after{
    content: 'MINUTES';
}
#i3::after{
    content: 'SECONDS';
}
.period {
    font-size: 0.3em;  
    vertical-align: super;  
    margin-left: 2px;  
    position: absolute;
    left: 90%;
    bottom: 30%;
}
